/.quarto/
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Les repertoires suivants
formation-git_files/
_output/
/.quarto/
/_site/
/img/excalidraw/
/data/

# Les fichiers suivants
*.html
!docs/*.html
*.tex
*.tmp
*.pdf
*.log
*.sty
*.docx
*.odt